.navbar .nav {
	float: right;
	text-transform: uppercase;
}

div.vertical-space {
	height: 300px;
}

div.main-area {
	margin-top: 150px;
	padding-left: 50px;
	padding-right: 50px;
	height: 500px;
	background:rgba(255,255,255,0.5);
}

div.phone-image-area {
	display: inline-block;
	margin-top: 20px;
	width: 200px;
	height: 350px;
}

div.numbers-area {
	display: inline-block;
	margin-left: 20px;
}

.number {
	font-weight: bold;
	color: orange;
	font-size: 72pt;
}

.subnumber {
	font-weight: bold;
	font-size: 50pt;
	height: 50px;
}

div.main-summary-area {
	font-size: 40pt;
	height: 100px;
}

div.sub-summary-area {
	font-size: 20pt;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
}

div.sub-image-area {
	float: left;
}

div.sub-message-area {
	float: right;
	max-width: 208px;
	line-height: 1em;
	text-transform: uppercase;
}

body {
	background-image: url('../img/jeep.jpg');
	background-position: 50% 15%;
}
