div.viewport {
  margin-top: 40px;
}

/*
 * Nav
 */

.brand span {
  font-weight: bold;
  font-size: 20pt;
}

div.login-logout-area {
  display: inline-block;
  float: right;
  height: 30px;
}

form.form-search input {
  margin: 5px;
}

a.nav-back {
  cursor: pointer;
}

div.timestamp {
  text-align: right;
}