extends layout

block content
  div.container
    h1= title
    div
      a.nav-back(onclick="window.history.back()") < Go back to Prize Overview
    form.form-horizontal(action="/add_prize",method="POST",enctype="multipart/form-data")
      div.control-group
        label.control-label(for="NAME") Item Name: 
        div.controls
          input(type="text",name="name",id="NAME")
      div.control-group
        label.control-label(for="SPONSOR") Sponsor: 
        div.controls
          input(type="text",name="sponsor",id="SPONSOR")
      div.control-group
        label.control-label(for="PRICE") Estimated Price: 
        div.controls
          input(type="text",name="price",id="PRICE")
      div.control-group
        label.control-label(for="DESC") Description: 
        div.controls
          input(type="text",name="desc",id="DESC")
      div.control-group
        label.control-label(for="IMG") Image: 
        div.controls
          input(type="file",name="img",id="IMG")
      div.form-actions
        input.btn(type="reset", value="Reset")
        | 
        a.btn.btn-primary#BTN_ADD
          i.icon-plus.icon-white
          |  Add

block page_scripts
  script(type="text/javascript").
    $(document).ready(
      function() {
        $("#BTN_CANCEL").click(
          function() {
            window.history.back();
          }
        );

        $("#BTN_ADD").click(
          function() {
            document.forms[1].submit();
          }
        );
        
      }
    );