extends layout

block content
  div.container
    h1= title
    form.form-horizontal(action="/add_prize",method="POST",enctype="multipart/form-data")
      div.control-group
        label.control-label(for="ITEM_NAME") Item Name: 
        div.controls
          input(type="text",name="item_name",id="ITEM_NAME")
      div.control-group
        label.control-label(for="SPONSOR") Sponsor: 
        div.controls
          input(type="text",name="sponsor",id="SPONSOR")
      div.control-group
        label.control-label(for="ITEM_DESC") Description: 
        div.controls
          input(type="text",name="item_desc",id="ITEM_DESC")
      div.control-group
        label.control-label(for="ITEM_IMG") Image: 
        div.controls
          input(type="file",name="item_img",id="ITEM_IMG")
      div.form-actions
        input.btn(type="reset",value="Cancel")
        | 
        a.btn.btn-primary#BTN_ADD
          i.icon-plus.icon-white
          |  Add

block page_scripts
  script(type="text/javascript").
    $(document).ready(
      function() {
        $("#BTN_ADD").click(
          function() {
            document.forms[1].submit();
          }
        );
      }
    );