extends layout

block content
  div.container
    h1= title
    div The trapiKO web app was built using the following technologies: 
    ul
      li
        b Node JS
        div Event-driven I/O server-side Javascript environment
      li
        b Socket IO
        div A Socket library for Node
      li
        b Mongo DB
        div A document oriented database
      li
        b Express Framework
        div An MVC framework for Node
      li
        b Stylus
        div A sexy way of doing CSS
      li
        b Jade
        div A sexy way of doing HTML
      li
        b Passport
        div An authentication module for Node
      li
        b Bootstrap
        div Makes websites look pro
      li
        b jQuery
        div Unobtrusive Javascript library
      li And of course 
        b HTML, CSS
        |  and 
        b Javascript
    div On the other hand, the trapiKO mobile app was built using: 
    ul
      li
        b Android
      li
        b Mono
      li
        b Xamarin
    div
      span You may also browse our repo at 
      a(href="https://github.com/emanuelsaringan/trapiKO") Github
