extends layout

block content
  div.main-area
    div.phone-image-area
      img(src="img/iphone-5.jpg", width="200", height="350")
    div.numbers-area
      div.main-summary-area
        span.number 14,895
        |  texts sent, and counting...
      div.sub-summary-area.row
        div.span3
          div.subnumber 789
          div.sub-image-area
            img(src="/img/jeep-icon.jpg")
          div.sub-message-area Unique Jeepneys
        div.span3
          div.subnumber 542
          div.sub-image-area
            img(src="/img/person-icon.jpg")
          div.sub-message-area Unique Commuters
        div.span3
          div.subnumber 9,589
          div.sub-image-area
            img(src="/img/coin-icon.jpg")
          div.sub-message-area Pesos Worth of Prizes
