extends layout

block page_style
  link(rel='stylesheet', href='/stylesheets/index.css')
  if (userInfo)
    link(rel='stylesheet', href='/stylesheets/index_login.css')

block content
  div.main-area
    div.phone-image-area
      img(src="img/iphone-5.png", width="400", height="450")
    div.numbers-area
      div.main-summary-area
        span.number 14,895
        |  texts sent, and counting...
      div.sub-summary-area.row
        div.span3#JEEP_AREA
          div.subnumber 789
          div.sub-image-area
            img(src="/img/jeep-icon.jpg")
          div.sub-message-area Unique Jeepneys
        div.span3#LINE_AREA
          div.subnumber 542
          div.sub-image-area
            img(src="/img/person-icon.jpg")
          div.sub-message-area Unique Commuters
        div.span3#VOTER_AREA
          div.subnumber 9,589
          div.sub-image-area
            img(src="/img/coin-icon.jpg")
          div.sub-message-area Pesos Worth of Prizes

block page_scripts
  if (userInfo)
    script(type="text/javascript", src="/javascripts/index_login.js")
