extends layout

block content
  div.container
    h1= title
    span as of 8/19/2013
    table.table.table-striped
      thead
        tr
          th Plate Number
          th Driver
          th Line
          th Total Votes
          th Amount Raised
      tbody
        tr
          td PXY 998
          td Ramon Bautista
          td Katipunan - Balara
          td 1,100
          td 500
        tr
          td SHY 912
          td Chito Miranda
          td Katipunan - Balara
          td 12,100
          td 6,000
        tr
          td QWQ 099
          td Kobe Bryant
          td Tungko - MRT
          td 900
          td 450