doctype 5
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/proj.css')
    block page_style
  body
    include navbar
    div.viewport
      block content
    script(type="text/javascript",src="/javascripts/jquery-2.0.3.min.js")
    script(type="text/javascript",src="/javascripts/bootstrap.min.js")
    script(type="text/javascript",src="/javascripts/navbar.js")
    block page_scripts