div.navbar.navbar-fixed-top
  div.navbar-inner
    div.container
      div.row
        div.nav-collapse
          a.brand(href="/")
            span
              em Rklamo
          ul.nav
            li#home_navlink
              a(id="home_navlink",href="/") Home
            li#about_navlink
              a(href="/about") About
            li#blog_navlink
              a(href="/blog") Blog
            li#contact_navlink
              a(href="/contact") Contact Us
            if (user)
              li#jeeps_navlink
                a(href="/jeeps") Jeeps
              li#voters_navlink
                a(href="/voters") Voters
              li#prizes_navlink
                a(href="/prizes") Prizes
              li#analytics_navlink
                a(href="/analytics") Analytics
          div.login-logout-area
            if (!user)
              form.form-search(method="POST", action="/login")
                input.input-medium(type="text", name="username", placeholder="username")
                input.input-medium(type="password", name="password", placeholder="password")
                input.btn.btn-primary(type="submit",value="Login")
            else
              form(method="POST", action="/logout")
                input.btn(type="submit", value="Logout")
