div.navbar.navbar-fixed-top
  div.navbar-inner
    div.container
      div.row
        div.nav-collapse
          a.brand(href="/")
            span
              em trapiKO
          ul.nav
            li#home_navlink
              a(id="home_navlink",href="/") Home
            li#about_navlink
              a(href="/about") About
            li#blog_navlink
              a(href="/blog") Blog
            li#contact_navlink
              a(href="/contact") Contact Us
          div.login-logout-area
            if (!userInfo)
              form.form-search(method="POST", action="/login")
                input.input-medium(type="text", name="username", placeholder="username")
                input.input-medium(type="password", name="password", placeholder="password")
                input.btn.btn-primary(type="submit",value="Login")
            else
              span Welcome back #{userInfo.name}
              form(method="POST", action="/logout")
                input.btn(type="submit", value="Logout")
