extends layout

block content
  div.container
    h1= title
    span as of 8/19/2013
    table.table.table-striped
      thead
        tr
          th Mobile No.
          th Total Votes
          th Total Amount Given
          th No. of Distinct Jeepneys Voted
          th Last Vote Date
      tbody
        tr
          td +63928990067
          td 1234
          td 617
          td 12
          td 8/19/2013
        tr
          td +639176645819
          td 909
          td 459.9
          td 20
          td 8/11/2013
        tr
          td +639997654321
          td 10,000
          td 5,000
          td 1
          td 7/11/2013